# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
number_float = 2.3

print(number_float)

number_float = 7.2

print(number_float)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1=2
num2=5.4

result = num1+num2


print(result)

# result +=2
print(result)
print(result +2)

7.4
7.4
9.4

##### Subtraction

In [8]:
result_diff = num2-num1
print(result_diff)

result_diff -=1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [11]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [14]:
result_div = num2/num1
print(result_div)

result_div/=3
print(result_div)

2.7
0.9

##### Floor Division

In [16]:
result_floor=num2 // num1
print(result_floor)

result_floor//=2
print(result_floor)

2.0
1.0

##### Modulo

In [18]:
result_mod = num2%num1
print(result_mod)

1.4000000000000004

##### Exponential

In [20]:
square = 5**2
print(square)

square = square**2
print(square)

25
625

### String Input-Output

##### String Assignment

In [24]:
name="Ryan"
print(name)

Ryan

##### print() <br>
<p>Don't forget about end=' '</p>

In [27]:
print('this is my first name ',name)

print('full name ',name,end=' Boll')

this is my first name  Ryan
full name  Ryan Boll

##### String Concatenation

In [33]:
first_name = 'Ryan'
last_name = 'Boll'
full_name = first_name +" "+ last_name
print(full_name)

full_name += ' Jr'
print(full_name)

Ryan Boll
Ryan Boll Jr

##### Type Conversion

In [ ]:
number = '76'

change_type_num = int(number)
print(number) #will not work if you try to add since it is still a string
print(change_type_num)#converted it to an integer which allows it be manipulated like a number

##### input()

In [44]:
#input() always returns a string, that is why int() can be very useful for users input

#name=input('What is your name? ')
#print('Nice to meet you, ',name,'!')

#age = input()
#add_age = age + 5 #will not work like this since the age input() will return a string
#print(add_age)

age = input()
add_age = int(age) + 5 #with the int() conversion this will not return an integer
print(add_age)

6
11

##### format()

In [45]:
age = input('What is your age? ')
result_string = 'You are {} {} and you are getting wiser!'.format(age,name)
print(result_string)

result_again = f'{age} is a great time in life!'

What is your age? 39
You are 39 Ryan and you are getting wiser!

##### Old Way (python 2)

In [ ]:
result_string2 = "you look great for your age!"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [52]:
year = input('What is the year of your vehicle? ')
make = input('What is the make of your vehicle? ')
color = input('What color is your vehicle? ')
model = input('what is the model of your vehicle? ')

vehicle_info = 'Your vehicle is a {}, {} {} {} based on the information you have provided'.format(color,year,make,model)
print(vehicle_info)

result = f'Your vehicle is a {color}, {year} {make} {model} based on the information you provided.'
print(result)

What is the year of your vehicle? 2013
What is the make of your vehicle? Ford
What color is your vehicle? Gray
what is the model of your vehicle? Ford
Your vehicle is a Gray, 2013 Ford Ford based on the information you have provided
Your vehicle is a Gray, 2013 Ford Ford based on the information you provided.

### If Statements

In [55]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F  can use "and" instead of the '&&'
# T && T = T
# T || F = T can use 'or' instead of the '||'
# F || T = T
# F || F = F

num1 = 6
num2 = 10
num3 = 0
#if num1 == num2:
    #print('Equal values')
#else:
    #print('not equal')


if num2 > num1 and num3 > 0:
    print('num2 is greater')
elif num1 > num2:
    print('num1 is greater')
else:
    print('they are equal')

That is incorrect.
num2 is greater

##### 'is' keyword

In [ ]:
#The 'is' keyword is for checking for the same object, but not the same value
#Python is going away from this keyword and should be looked into

num3 = 55

if num3 is 55:
    print('This is the exact number/object')

##### 'in' keyword

In [58]:
#Check if character is in a string
#Appears to iterate through the initial string and search for the specific criteria

char_name = "Frodo Baggins"

if 'Frodo' in char_name:
    print('it is there')

it is there

##### 'not in' keyword'

In [60]:
sega_char = 'sonic'

if 'a' not in sega_char:
    print('the a is not present...')

the a is not present...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [62]:
word = input('Please give me a word and i want to see if what i want is in it...')

if 'p' not in word:
    print('sorry the letter i was looking for is "p"')
else:
    print('Yup found it... the letter i was looking for is "p".')

Please give me a word and i want to see if what i want is in it...page
Yup found it... the letter i was looking for is "p".

## Using 'and'/'or' with If Statements

In [67]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statements

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
#if with 'or' statements
if num_13 == num_14 or num_11 > num_12:
    print('false and true')

True and True
false and true

### Elif Statements

In [72]:
#just a reminder that tabs are crucial in python on both directions

first_name = input('What is your name? ')

if first_name == "smith":
    print('The name is smith')
elif first_name == 'brandon':
    print('the name is brandon')
elif first_name != 'max':
    print('the name is NOT max')
else:
    print('the name is Max')

What is your name? gary
the name is NOT max

### Else Statements

In [ ]:
# see above

### For Loops

In [73]:
#Syntax
#'for' counter 'in' condition

name = 'Brandon Apol'
a_list = [1,2,3,4]

for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [76]:
#contiue will skip the iteration when condition is met and go on to the next one. In this instance it is skipping '5'
# and will continue printing at '6'



# for i in range(20):
#     if i == 5:
#         continue
#     print(i)
    
name = 'brandon apol'
    
for i in name:
    if i == 'a':
        continue
    print(i)

b
r
n
d
o
n

p
o
l

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20)
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [77]:
for i in range(5):
    for j in range(5):
        print('i =', i , 'j =', j)

#this will take a ton of energy/computation power

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [81]:
#syntax
#while keyword, condition statement
#if these were left to run the computer would become junk!
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [82]:
#bad practice, and definitely frowned upon

game_over = True

while game_over:
    print('infinite loop')
    user_input = input('Would you like to stop? ')
    if user_input == "yes":
        game_over = False

infinite loop
Would you like to stop? yes

##### While & For Loops Used Together

In [84]:
num = 0

while num < 5:
    print('\nWhile loop iteration: ' + str(num))
    
    for i in range(2):
        print('For loop iteration: ', str(i + 1))
    num += 1

While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [87]:
#be sure to review these every day!!!
#range(start, stop, step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [88]:
#checks the length of a variable
name = input('Give me the name of your favorite book. ')

length = len(name)
print(length)

Give me the name of your favorite book. I love the python coding tutorial
33

##### help()

In [89]:
#Use this function to view more information about a python function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [92]:
#syntax, check a variable to find out what object family (or data type) it belongs to 
#isinstance(var,type)

# print(isinstance(4.5, int))

# if isinstance(4.5, float):
#     print('This is a float type') This will print "This is a float type" since it is true

num = input("Pick a number please. ")

if isinstance(num,int):
    print(f'{num} is an int')
else:
    print(f'{num} is a float') #This will return a float due to the fact that input always returns a string 
    
#This is not a great example but the idea is sound

Pick a number please. 5
5 is a float

##### abs()

In [93]:
#This gives you the absolute value which is always the distance from zero

#|-5| = 5

print(abs(-5))

5

### Try and Except

In [99]:
#Use this to log out graceful and useful error messages
#This does not stop the program! Will inform all parties of errors

try:
    number_test = 0
    input_num = int(input('Give us a number'))
#     if input_num != input_num + number_test:
#         input_num = input_num + number_test
#         print('Your number is: ' + str(input_num))
    print('Your number is '+str(input_num)) 
except:
    print:("Please change your input to a number!")

Give us a numberhg

### Lists

##### Declaring Lists

In [133]:
list_1=[] #having an empty list is very common

names =['tim', 'tommy', 'jason', 'kim', 'maia', 'mateo']
print(names)

['tim', 'tommy', 'jason', 'kim', 'maia', 'mateo']

##### Indexing a List

In [112]:
#list_name[start: stop: step]

#single index
#all indexes start at the 0th place
print(names[0])

#print starting at index 1 going to the end
print(names[1:])

#print starting at the beginning of the list up until the number
print(names[:2])

#print starting at index 1 and going up by 2
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

tim
['tommy', 'jason', 'kim', 'maia', 'mateo']
['tim', 'tommy']
['tommy', 'kim', 'mateo']
['mateo', 'maia', 'kim', 'jason', 'tommy', 'tim']

##### .append()

In [115]:
names.append('Brandon')#append will always add the new information to the end of the list
print(names)

['tim', 'tommy', 'jason', 'kim', 'maia', 'mateo', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [117]:
names.insert(3,'Hercules') #will allow you to insert to a specified area within a list
print(names)

['tim', 'tommy', 'jason', 'Hercules', 'kim', 'maia', 'mateo', 'Brandon', 'Brandon', 'Brandon']

##### .pop()

In [130]:
#defaults to the last value if no parameter is given
#pop() returns the element that was removed in case you want to assign it

my_names = names.pop(2)
print(my_names)
print(names)

jason
['tim', 'tommy', 'kim', 'maia', 'mateo']


##### .remove()

In [135]:
# #value to be removed rather than index
# names.remove('mateo')
# print(names)

while 'kim' in names:
    names.remove('kim')
print(names)

['tim', 'tommy', 'jason', 'maia']

##### del()

In [136]:
#goes by index, rather than value
#this can cause indexing errors if not using carefully
#anytime you are removing or manipulating specific values or index places from a list 
#you need to be careful of running the same code multiple times due to that information now being 
#gone. This will throw an error

del(names[1])
print(names)

['tim', 'jason', 'maia']

##### Concatenating Two Lists

In [153]:
#concantenating lists will append two lists together, will NOT add the values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
#lists can hold any other data type including other lists
#they can go as deep as you want. This is called nested lists
#lists can continually be nested infinitely meaning you can have a list within a list within another list within yet another list...
#continual iteration
#print names([3]) will return ['cal','wesley','jaquon']
#print names([3][1]) will return wesley
#print names([3][1][1])will return e

names = ['max','shaniqua','wiley',['cal','wesley','jaquon']]
print(names)
print(names[3][2])

##### Looping Through Lists

In [155]:
#two ways to loop through a list one is by index and the other is by the 'in' keyword

#by index
for i in range(len(names)):
    print(names[i])
    
#loop with 'in'
for i in names:
    print(i)

max
shaniqua
wiley
['cal', 'wesley', 'jaquon']
max
shaniqua
wiley
['cal', 'wesley', 'jaquon']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [185]:
number = 0
value = 0

while value < 1000:
    value = number ** 3
    print(value)
    number += 1

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [182]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for num in range(0, 100, 1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [181]:
age = int(input('What is your age? '))

if age < 18:
    print('kids')
elif age <= 65:
    print('adults')
else:
    print('seniors')

What is your age? 66
seniors